body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url("https://unsplash.com/photos/LtWFFVi1RXQ?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink");    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow:hidden;
}
h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    text-align: center;
    color: white;
}
.clock{
    display: flex;
}
.clock div{
    margin:5px;
position: relative;
}
.clock span{
    width: 100px;
    height: 80px;
    background: #CC7722;
    opacity: .8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px #000000; 

} 
.clock .text{
    height: 30p;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background:  #913831;
    opacity: .8;
}
.clock #ampm{
    font-size: 20px;
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 30px;
    background: #3b2611;
}
